doctype html
html(lang='en')
  head
    title NeonGIF &ndash; free online GIF converter for your video files on any mobile or desktop platform, no account required, works on iOS, Android, and desktop

    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(property='og:title', content='NeonGIF')
    meta(property='og:site_name', content='NeonGIF')
    meta(
      property='og:description', 
      content='Create GIFs from your video files completely free from your browser. Works on most modern browsers. \
      Privacy and security conscious— your data never goes to any server.'
    )
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://neongif.tanomitech.com')
    meta(property='og:image', content='https://neongif.tanomitech.com/assets/preview.png')
    meta(name='theme-color', content='#181926')

    link(rel='apple-touch-icon', sizes='76x76', href='assets/favicon/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='assets/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='assets/favicon/favicon-16x16.png')
    link(rel='manifest', href='assets/favicon/site.webmanifest')
    link(rel='mask-icon', href='assets/favicon/safari-pinned-tab.svg', color='#5bbad5')

    link(rel='stylesheet', href='assets/css/fonts.css')
    link(rel='stylesheet', href='assets/css/style.css')
    link(rel='stylesheet', href='assets/css/neon.css')
    link(rel='stylesheet', href='assets/css/select-buttons.css')
    link(rel='stylesheet', href='assets/css/a11y-dialog.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  body
    .bg
    #wrapper
      div.title-wrapper
        h1#title.neon Ne
          span.flicker-slow o
          | nGi
          span.flicker-fast f
      div.form-load-icon
        span.fa.fa-solid.fa-empire(style='margin-right: 1rem')
        | Loading...&nbsp;&nbsp;&nbsp;
      form#convert-form.invisible(disabled)
        p.white(style='margin-bottom: 1rem') Create GIFs from your video files completely free on iOS, Android, and desktop. Works on 99% of modern browsers. 
          | Privacy and security conscious&mdash; your data never goes to any server. 
        label(for='file-input')
          button#file-input-button.form-input(type='button' style='padding: 0 1.1rem') Choose video file...
          input#file-input(name='video-file', type='file', accept='video/*,.mkv')
        div(style='display: flex; flex-flow: row wrap')
          fieldset#start-time-fieldset
            legend 
              | Start Time (
              span(data-highlight='hh') hh
              | &nbsp;:&nbsp;
              span(data-highlight='mm') mm
              | &nbsp;:&nbsp;
              span(data-highlight='ss.ss') ss.ss
              | )
            .form-input-wrapper
              input.form-input.no-right-radius(
                name='start-time-hours', type='number', min='0.0', max='0', step='1', style='', data-highlight-target='hh'
              )
              input.form-input.no-radius.no-border-x(
                name='start-time-minutes', type='number', min='0.0', max='0', step='1', style='', data-highlight-target='mm'
              )
              input.form-input.no-left-radius(
                name='start-time-seconds', type='number', min='0.0', max='0', step='.01', style='', value='0', required, data-highlight-target='ss.ss'
              )
          fieldset#duration-fieldset
            legend
              | Duration (seconds) 
            div.button-wrap
              .button-control
                input(type='radio' name='duration' id='1s-button' class='hidden radio-input' value='1.0' required)
                div.button-label-container
                  button(role='button' type='button')
                    label.button-label(for='1s-button')
                      span 1s

              .button-control
                input(type='radio' name='duration' id='3s-button' class='hidden radio-input' value='3.0')
                div.button-label-container
                  button(role='button' type='button')
                    label.button-label(for='3s-button')
                      span 3s

              .button-control
                input(type='radio' name='duration' id='5s-button' class='hidden radio-input' value='5.0')
                div.button-label-container
                  button(role='button' type='button')
                    label.button-label(for='5s-button')
                      span 5s

              .button-control
                input(type='radio' name='duration' id='custom-button' class='hidden radio-input' value='custom')
                div.button-label-container
                  button(role='button' type='button')
                    label.button-label(for='custom-button') 
                      span Custom

              div.custom-duration-wrap
                input.form-input(name='custom-duration', id='custom-duration' type='number', min='.01', max='0', step='.01' disabled)
                | &nbsp;ss
        #preview-window
          button#convert-button(disabled='') Convert
          div(style='color: #aaa; display: block; text-align: center; width: 100%') Your GIF will display here.
      footer
        div Made with 🧡 by 
          a(href='https://tanomitech.com/') Tanomi Technologies
        .sitemap
          a.with-github-icon(href='https://github.com/tanomi-tech/neongif') 
            span.fa.fa-brands.fa-github(style='margin-right: .5rem')
            span.github-text GitHub
          span(style='margin: 0 .5rem 0 .5rem') |
          a.report-issue(href='https://github.com/tanomi-tech/neongif/issues') Report an Issue
          span(style='margin: 0 .5rem 0 .5rem') |
          button#credits-button.link(data-a11y-dialog-show='credits-dialog') Credits


    #credits-dialog.dialog-container(
      role='dialog' 
      aria-modal='true' 
      aria-hidden='true'
      aria-labelledby='my-dialog-title'
      aria-describedby='my-dialog-body'
    )
      .dialog-overlay(data-a11y-dialog-hide='')
      .dialog-content(role='document')
        button.dialog-close(data-a11y-dialog-hide='', aria-label='Close this dialog window')
          svg.svg-icon(viewBox='0 0 20 20')
            path(fill='white', d='M15.898,4.045c-0.271-0.272-0.713-0.272-0.986,0l-4.71,4.711L5.493,4.045c-0.272-0.272-0.714-0.272-0.986,0s-0.272,0.714,0,0.986l4.709,4.711l-4.71,4.711c-0.272,0.271-0.272,0.713,0,0.986c0.136,0.136,0.314,0.203,0.492,0.203c0.179,0,0.357-0.067,0.493-0.203l4.711-4.711l4.71,4.711c0.137,0.136,0.314,0.203,0.494,0.203c0.178,0,0.355-0.067,0.492-0.203c0.273-0.273,0.273-0.715,0-0.986l-4.711-4.711l4.711-4.711C16.172,4.759,16.172,4.317,15.898,4.045z')
        span#my-dialog-title Special thanks to: (section in progress)
        ul#my-dialog-body
          li
            | Blinking Neon CSS by 
            a(href='https://codepen.io/DevchamploO/pen/NBWBGq') https://codepen.io/DevchamploO/pen/NBWBGq
          li
            | Flat Radio Button CSS by 
            a(href='https://codepen.io/mblode/pen/VwGxaO') https://codepen.io/mblode/pen/VwGxaO
          li
            | Airstream NF font license: 
            ul
              li
                a(href='https://www.1001fonts.com/airstream-font.html#license') https://www.1001fonts.com/airstream-font.html#license
              li
                a(href='https://www.1001fonts.com/licenses/ffc.html') https://www.1001fonts.com/licenses/ffc.html
          li
            | night sky-night ilnur kalimullin 1MSTM04CC6
            ul
              li
                a(href='https://stocksnap.io/photo/sky-night-1MSTM04CC6') Photo
                |  by 
                a(href='https://stocksnap.io/author/33840') Ilnur Kalimullin
                |  on 
                a(href='https://stocksnap.io') StockSnap
          li
            | summer night love star background
            ul
              li
                | Image by 
                a(href=' https://www.vectorportal.com') Vectorportal.com
                | ,  
                a.text(href='https://creativecommons.org/licenses/by/4.0/') CC BY
          li Contributors of
            | 
            a(href='https://github.com/KittyGiraudel/a11y-dialog') a11y-dialog


    script(type='module', src='main.js')
    script(defer, type='module' src='credits.js')
    script(defer, src='https://cloud.umami.is/script.js', data-website-id='004ee8e0-9c08-43c6-acc4-3f94bf47276d')
